<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">

    <link href="../../../resources/web.css" rel="stylesheet" type="text/css">
    <title>Beancount: Assets:Cash:TWD</title>

    <!-- begin scripts -->
    
    <!-- end scripts -->
  </head>

  <body>

    <!-- The title of the input file, from the 'title' option. -->
    <div id="title">Beancount - All Transactions</div>

    
      <div class="navigation" id="nav-right">
        <ul>
          
        </ul>
      </div>

    <div class="navigation">
      
<ul id="nav-main">
  <li><a href="../../../index.html">Table of Contents</a></li>
  <li><span class="ledger-name">All Transactions:</span></li>
  <li><a href="../balsheet.html">Balance Sheet</a></li>
  <li><a href="../income.html">Income Statement</a></li>
  <li><a href="../equity/holdings.html">Equity/Holdings</a></li>
  <li><a href="../trial.html">Trial Balance</a></li>
  <li><a href="all.html">General Journal</a></li>
  <li><a href="../index.html">Index</a></li>
</ul>

    </div>

    <!-- The title of this page, what information we're displaying. -->
    <h1 id="pagetitle">Assets:Cash:TWD</h1>

    <!-- The contents of this page. -->
    <div id="contents">
      
      <table class="entry-table">
      <thead>
        <tr>
         <th class="datecell">Date</th>
         <th class="flag">F</th>
         <th class="description">Narration/Payee</th>
         <th class="position">Position</th>
         <th class="price">Price</th>
         <th class="cost">Cost</th>
         <th class="change">Change</th>
         <th class="balance">Balance</th>
        </tr>
      </thead>
    

          <tr class="Open " title="/home/travis/build/EtherTW/accounting/main.bean:3">
            <td class="datecell"><span class="removed-link">2019-08-30</span></td>
            <td class="flag"></td>
            <td class="description" colspan="4">Open <span><a href="Assets:Cash:TWD.html" class="account">Assets:Cash:TWD</a></span></td>
            <td class="change num"></td>
            <td class="balance num"></td>
          </tr>
        

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:108">
            <td class="datecell"><span class="removed-link">2019-10-19</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#25552;&#27454;</span></td>
            <td class="change num">70000.0 TWD</td>
            <td class="balance num">70000.0 TWD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Cash:TWD.html" class="account">Assets:Cash:TWD</a></span></td>
                    <td class="position num">70000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">70000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-70000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-70000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:112">
            <td class="datecell"><span class="removed-link">2019-10-19</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#29694;&#22580;&#22577;&#21517;</span></td>
            <td class="change num">2400.0 TWD</td>
            <td class="balance num">72400.0 TWD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Cash:TWD.html" class="account">Assets:Cash:TWD</a></span></td>
                    <td class="position num">2400.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">2400.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:RegisteryFee.html" class="account">Income:RegisteryFee</a></span></td>
                    <td class="position num">-2400.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-2400.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:116">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#31014;&#27849;&#27700;&#19968;&#31665;</span></td>
            <td class="change num">-672.0 TWD</td>
            <td class="balance num">71728.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Supplies.html" class="account">Expenses:Supplies</a></span></td>
                    <td class="position num">672.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">672.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Cash:TWD.html" class="account">Assets:Cash:TWD</a></span></td>
                    <td class="position num">-672.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-672.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:120">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#34907;&#29983;&#32025;</span></td>
            <td class="change num">-119.0 TWD</td>
            <td class="balance num">71609.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Supplies.html" class="account">Expenses:Supplies</a></span></td>
                    <td class="position num">119.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">119.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Cash:TWD.html" class="account">Assets:Cash:TWD</a></span></td>
                    <td class="position num">-119.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-119.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:124">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#35611;&#32773;&#20415;&#30070;</span></td>
            <td class="change num">-9450.0 TWD</td>
            <td class="balance num">62159.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Food.html" class="account">Expenses:Food</a></span></td>
                    <td class="position num">9450.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">9450.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Cash:TWD.html" class="account">Assets:Cash:TWD</a></span></td>
                    <td class="position num">-9450.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-9450.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:128">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#38989;&#22806;&#21152;&#40670;&#30340;&#40670;&#24515;</span></td>
            <td class="change num">-4650.0 TWD</td>
            <td class="balance num">57509.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Food.html" class="account">Expenses:Food</a></span></td>
                    <td class="position num">4650.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">4650.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Cash:TWD.html" class="account">Assets:Cash:TWD</a></span></td>
                    <td class="position num">-4650.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-4650.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:132">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#36864;&#36027;&#32102; CTF &#24471;&#29518;&#32773;&#30340;&#36092;&#31080;&#25240;&#25187;</span></td>
            <td class="change num">-720.0 TWD</td>
            <td class="balance num">56789.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:TicketRefund.html" class="account">Expenses:TicketRefund</a></span></td>
                    <td class="position num">720.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">720.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Cash:TWD.html" class="account">Assets:Cash:TWD</a></span></td>
                    <td class="position num">-720.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-720.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:136">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">After party &#39184;&#36027;</span></td>
            <td class="change num">-34940.0 TWD</td>
            <td class="balance num">21849.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Food.html" class="account">Expenses:Food</a></span></td>
                    <td class="position num">34940.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">34940.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Cash:TWD.html" class="account">Assets:Cash:TWD</a></span></td>
                    <td class="position num">-34940.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-34940.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                
</table>

    </div>

  </body>
</html>