<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">

    <link href="../../../resources/web.css" rel="stylesheet" type="text/css">
    <title>Beancount: Equity:Earnings:Current</title>

    <!-- begin scripts -->
    
    <!-- end scripts -->
  </head>

  <body>

    <!-- The title of the input file, from the 'title' option. -->
    <div id="title">Beancount - All Transactions</div>

    
      <div class="navigation" id="nav-right">
        <ul>
          
        </ul>
      </div>

    <div class="navigation">
      
<ul id="nav-main">
  <li><a href="../../../index.html">Table of Contents</a></li>
  <li><span class="ledger-name">All Transactions:</span></li>
  <li><a href="../balsheet.html">Balance Sheet</a></li>
  <li><a href="../income.html">Income Statement</a></li>
  <li><a href="../equity/holdings.html">Equity/Holdings</a></li>
  <li><a href="../trial.html">Trial Balance</a></li>
  <li><a href="all.html">General Journal</a></li>
  <li><a href="../index.html">Index</a></li>
</ul>

    </div>

    <!-- The title of this page, what information we're displaying. -->
    <h1 id="pagetitle">Equity:Earnings:Current</h1>

    <!-- The contents of this page. -->
    <div id="contents">
      
      <table class="entry-table">
      <thead>
        <tr>
         <th class="datecell">Date</th>
         <th class="flag">F</th>
         <th class="description">Narration/Payee</th>
         <th class="position">Position</th>
         <th class="price">Price</th>
         <th class="cost">Cost</th>
         <th class="change">Change</th>
         <th class="balance">Balance</th>
        </tr>
      </thead>
    

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:Bank:TransactionFee' (Transfer balance)</span></td>
            <td class="change num">195.0 TWD</td>
            <td class="balance num">195.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">-195.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-195.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">195.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">195.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:EthereumNameService' (Transfer balance)</span></td>
            <td class="change num">153.7 TWD</td>
            <td class="balance num">348.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:EthereumNameService.html" class="account">Expenses:EthereumNameService</a></span></td>
                    <td class="position num">-0.032826965310591524 ETH {4682 TWD, 2019-11-30}</td>
                    <td class="price num"></td>
                    <td class="cost num">-153.695851584189515368 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">153.695851584189515368 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">153.695851584189515368 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:EthereumTransactionFee' (Transfer balance)</span></td>
            <td class="change num">1.1 TWD</td>
            <td class="balance num">349.8 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:EthereumTransactionFee.html" class="account">Expenses:EthereumTransactionFee</a></span></td>
                    <td class="position num">-0.000231000000020000 ETH {4682 TWD, 2019-11-30}</td>
                    <td class="price num"></td>
                    <td class="cost num">-1.081542000093640000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">1.081542000093640000 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">1.081542000093640000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:FlightTicketAllowance' (Transfer balance)</span></td>
            <td class="change num">59209.9 TWD</td>
            <td class="balance num">59559.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:FlightTicketAllowance.html" class="account">Expenses:FlightTicketAllowance</a></span></td>
                    <td class="position num">-8.106228989 ETH {5493.6 TWD, 2019-10-26}</td>
                    <td class="price num"></td>
                    <td class="cost num">-44532.3795739704 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">44532.3795739704 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">44532.3795739704 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:FlightTicketAllowance.html" class="account">Expenses:FlightTicketAllowance</a></span></td>
                    <td class="position num">-250.3216 DAI {30.5782344 TWD, 2019-10-26}</td>
                    <td class="price num"></td>
                    <td class="cost num">-7654.39256018304 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">7654.39256018304 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">7654.39256018304 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:FlightTicketAllowance.html" class="account">Expenses:FlightTicketAllowance</a></span></td>
                    <td class="position num">-229.6784 DAI {30.5782344 TWD, 2019-10-27}</td>
                    <td class="price num"></td>
                    <td class="cost num">-7023.15995181696 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">7023.15995181696 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">7023.15995181696 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:Food' (Transfer balance)</span></td>
            <td class="change num">143314.0 TWD</td>
            <td class="balance num">202873.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Food.html" class="account">Expenses:Food</a></span></td>
                    <td class="position num">-143314.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-143314.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">143314.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">143314.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:HostFee' (Transfer balance)</span></td>
            <td class="change num">5000.0 TWD</td>
            <td class="balance num">207873.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:HostFee.html" class="account">Expenses:HostFee</a></span></td>
                    <td class="position num">-5000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-5000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">5000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">5000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:Insurance' (Transfer balance)</span></td>
            <td class="change num">2480.0 TWD</td>
            <td class="balance num">210353.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Insurance.html" class="account">Expenses:Insurance</a></span></td>
                    <td class="position num">-2480.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-2480.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">2480.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">2480.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:InvoiceServiceFee' (Transfer balance)</span></td>
            <td class="change num">11061.0 TWD</td>
            <td class="balance num">221414.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:InvoiceServiceFee.html" class="account">Expenses:InvoiceServiceFee</a></span></td>
                    <td class="position num">-11061.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-11061.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">11061.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">11061.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:Photography' (Transfer balance)</span></td>
            <td class="change num">10000.0 TWD</td>
            <td class="balance num">231414.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Photography.html" class="account">Expenses:Photography</a></span></td>
                    <td class="position num">-10000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-10000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">10000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">10000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:Recording' (Transfer balance)</span></td>
            <td class="change num">24000.0 TWD</td>
            <td class="balance num">255414.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Recording.html" class="account">Expenses:Recording</a></span></td>
                    <td class="position num">-24000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-24000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">24000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">24000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:Supplies' (Transfer balance)</span></td>
            <td class="change num">22175.0 TWD</td>
            <td class="balance num">277589.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Supplies.html" class="account">Expenses:Supplies</a></span></td>
                    <td class="position num">-22175.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-22175.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">22175.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">22175.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:TicketRefund' (Transfer balance)</span></td>
            <td class="change num">720.0 TWD</td>
            <td class="balance num">278309.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:TicketRefund.html" class="account">Expenses:TicketRefund</a></span></td>
                    <td class="position num">-720.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-720.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">720.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">720.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:Venue' (Transfer balance)</span></td>
            <td class="change num">40000.0 TWD</td>
            <td class="balance num">318309.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Venue.html" class="account">Expenses:Venue</a></span></td>
                    <td class="position num">-40000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-40000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">40000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">40000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:Wifi' (Transfer balance)</span></td>
            <td class="change num">30000.0 TWD</td>
            <td class="balance num">348309.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Wifi.html" class="account">Expenses:Wifi</a></span></td>
                    <td class="position num">-30000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-30000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">30000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">30000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Income:PreviousEventRevenue' (Transfer balance)</span></td>
            <td class="change num">-22303.0 TWD</td>
            <td class="balance num">326006.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:PreviousEventRevenue.html" class="account">Income:PreviousEventRevenue</a></span></td>
                    <td class="position num">22303.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">22303.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">-22303.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-22303.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Income:RegisteryFee' (Transfer balance)</span></td>
            <td class="change num">-158938.0 TWD</td>
            <td class="balance num">167068.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:RegisteryFee.html" class="account">Income:RegisteryFee</a></span></td>
                    <td class="position num">158938.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">158938.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">-158938.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-158938.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Income:Sponsor:ETH' (Transfer balance)</span></td>
            <td class="change num">-298429.5 TWD</td>
            <td class="balance num">-131360.8 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
                    <td class="position num">298429.48681436000 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">298429.48681436000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">-298429.48681436000 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-298429.48681436000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Income:Sponsor:TWD' (Transfer balance)</span></td>
            <td class="change num">-100000.0 TWD</td>
            <td class="balance num">-231360.8 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:TWD.html" class="account">Income:Sponsor:TWD</a></span></td>
                    <td class="position num">100000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">100000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">-100000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-100000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Income:Trade:PnL' (Transfer balance)</span></td>
            <td class="change num">-927258.6 TWD</td>
            <td class="balance num">-1158619.4 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Trade:PnL.html" class="account">Income:Trade:PnL</a></span></td>
                    <td class="position num">927258.576638506361166619460 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">927258.576638506361166619460 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">-927258.576638506361166619460 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-927258.576638506361166619460 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                
</table>

    </div>

  </body>
</html>