<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">

    <link href="../../../resources/web.css" rel="stylesheet" type="text/css">
    <title>Beancount: Equity</title>

    <!-- begin scripts -->
    
    <!-- end scripts -->
  </head>

  <body>

    <!-- The title of the input file, from the 'title' option. -->
    <div id="title">Beancount - All Transactions</div>

    
      <div class="navigation" id="nav-right">
        <ul>
          
        </ul>
      </div>

    <div class="navigation">
      
<ul id="nav-main">
  <li><a href="../../../index.html">Table of Contents</a></li>
  <li><span class="ledger-name">All Transactions:</span></li>
  <li><a href="../balsheet.html">Balance Sheet</a></li>
  <li><a href="../income.html">Income Statement</a></li>
  <li><a href="../equity/holdings.html">Equity/Holdings</a></li>
  <li><a href="../trial.html">Trial Balance</a></li>
  <li><a href="all.html">General Journal</a></li>
  <li><a href="../index.html">Index</a></li>
</ul>

    </div>

    <!-- The title of this page, what information we're displaying. -->
    <h1 id="pagetitle">Equity</h1>

    <!-- The contents of this page. -->
    <div id="contents">
      
      <table class="entry-table">
      <thead>
        <tr>
         <th class="datecell">Date</th>
         <th class="flag">F</th>
         <th class="description">Narration/Payee</th>
         <th class="position">Position</th>
         <th class="price">Price</th>
         <th class="cost">Cost</th>
         <th class="change">Change</th>
         <th class="balance">Balance</th>
        </tr>
      </thead>
    

          <tr class="Open " title="/home/travis/build/EtherTW/accounting/main.bean:13">
            <td class="datecell"><span class="removed-link">2019-08-30</span></td>
            <td class="flag"></td>
            <td class="description" colspan="4">Open <span><a href="Equity:Opening-Balances.html" class="account">Equity:Opening-Balances</a></span></td>
            <td class="change num"></td>
            <td class="balance num"></td>
          </tr>
        

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:35">
            <td class="datecell"><span class="removed-link">2019-08-30</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#21021;&#22987;&#37329;&#38989;</span></td>
            <td class="change num">-4672.3 TWD</td>
            <td class="balance num">-4672.3 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">0.866521001981 ETH {5392.0 TWD, 2019-08-30}</td>
                    <td class="price num"></td>
                    <td class="cost num">4672.2812426815520 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Opening-Balances.html" class="account">Equity:Opening-Balances</a></span></td>
                    <td class="position num">-4672.2812426815520 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-4672.2812426815520 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="&lt;conversions&gt;:-1">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">C</td>
            <td class="description" colspan="4"><span class="narration">Conversion for (-146079.0661497129720691921176 TWD, 40.322809343072985426 DAI {30.6081846 TWD, 2019-10-16}, 18.363404466281 ETH {5200.0 TWD, 2019-09-27}, 8.72 ETH {5660.0 TWD, 2019-10-15})</span></td>
            <td class="change num">-0.0 TWD</td>
            <td class="balance num">-4672.3 TWD</td>
          </tr>
        

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Conversions:Current.html" class="account">Equity:Conversions:Current</a></span></td>
                    <td class="position num">-0.045066911610600000000040 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-0.000000000000000000000000 NOTHING</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:Bank:TransactionFee' (Transfer balance)</span></td>
            <td class="change num">45.0 TWD</td>
            <td class="balance num">-4627.3 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">-45.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-45.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">45.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">45.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:Supplies' (Transfer balance)</span></td>
            <td class="change num">8393.0 TWD</td>
            <td class="balance num">3765.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Supplies.html" class="account">Expenses:Supplies</a></span></td>
                    <td class="position num">-8393.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-8393.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">8393.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">8393.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Expenses:Venue' (Transfer balance)</span></td>
            <td class="change num">40000.0 TWD</td>
            <td class="balance num">43765.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Venue.html" class="account">Expenses:Venue</a></span></td>
                    <td class="position num">-40000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-40000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">40000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">40000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Income:RegisteryFee' (Transfer balance)</span></td>
            <td class="change num">-2400.0 TWD</td>
            <td class="balance num">41365.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:RegisteryFee.html" class="account">Income:RegisteryFee</a></span></td>
                    <td class="position num">2400.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">2400.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">-2400.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-2400.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Income:Sponsor:ETH' (Transfer balance)</span></td>
            <td class="change num">-298429.5 TWD</td>
            <td class="balance num">-257063.8 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
                    <td class="position num">298429.48681436000 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">298429.48681436000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">-298429.48681436000 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-298429.48681436000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Income:Sponsor:TWD' (Transfer balance)</span></td>
            <td class="change num">-100000.0 TWD</td>
            <td class="balance num">-357063.8 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:TWD.html" class="account">Income:Sponsor:TWD</a></span></td>
                    <td class="position num">100000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">100000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">-100000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-100000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transfer " title="&lt;transfer_balances&gt;:0">
            <td class="datecell"><span class="removed-link">2019-10-20</span></td>
            <td class="flag">T</td>
            <td class="description" colspan="4"><span class="narration">Transfer balance for 'Income:Trade:PnL' (Transfer balance)</span></td>
            <td class="change num">11050.7 TWD</td>
            <td class="balance num">-346013.1 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Trade:PnL.html" class="account">Income:Trade:PnL</a></span></td>
                    <td class="position num">-11050.7019073285799308078824 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-11050.7019073285799308078824 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Equity:Earnings:Current.html" class="account">Equity:Earnings:Current</a></span></td>
                    <td class="position num">11050.7019073285799308078824 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">11050.7019073285799308078824 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                
</table>

    </div>

  </body>
</html>