<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">

    <link href="../../../resources/web.css" rel="stylesheet" type="text/css">
    <title>Beancount: Expenses:Bank:TransactionFee</title>

    <!-- begin scripts -->
    
    <!-- end scripts -->
  </head>

  <body>

    <!-- The title of the input file, from the 'title' option. -->
    <div id="title">Beancount - All Transactions</div>

    
      <div class="navigation" id="nav-right">
        <ul>
          
        </ul>
      </div>

    <div class="navigation">
      
<ul id="nav-main">
  <li><a href="../../../index.html">Table of Contents</a></li>
  <li><span class="ledger-name">All Transactions:</span></li>
  <li><a href="../balsheet.html">Balance Sheet</a></li>
  <li><a href="../income.html">Income Statement</a></li>
  <li><a href="../equity/holdings.html">Equity/Holdings</a></li>
  <li><a href="../trial.html">Trial Balance</a></li>
  <li><a href="all.html">General Journal</a></li>
  <li><a href="../index.html">Index</a></li>
</ul>

    </div>

    <!-- The title of this page, what information we're displaying. -->
    <h1 id="pagetitle">Expenses:Bank:TransactionFee</h1>

    <!-- The contents of this page. -->
    <div id="contents">
      
      <table class="entry-table">
      <thead>
        <tr>
         <th class="datecell">Date</th>
         <th class="flag">F</th>
         <th class="description">Narration/Payee</th>
         <th class="position">Position</th>
         <th class="price">Price</th>
         <th class="cost">Cost</th>
         <th class="change">Change</th>
         <th class="balance">Balance</th>
        </tr>
      </thead>
    

          <tr class="Open " title="/home/travis/build/EtherTW/accounting/main.bean:27">
            <td class="datecell"><span class="removed-link">2019-10-04</span></td>
            <td class="flag"></td>
            <td class="description" colspan="4">Open <span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
            <td class="change num"></td>
            <td class="balance num"></td>
          </tr>
        

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:79">
            <td class="datecell"><span class="removed-link">2019-10-04</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">&#35920;&#23798;&#22283;&#38555;&#26377;&#38480;&#20844;&#21496;</span><span class="pnsep">|</span><span class="narration">&#30717;&#33184;&#25163;&#29872;&#35330;&#37329;</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">15.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Supplies.html" class="account">Expenses:Supplies</a></span></td>
                    <td class="position num">3801.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">3801.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-3816.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-3816.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:88">
            <td class="datecell"><span class="removed-link">2019-10-09</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">&#26234;&#25104;</span><span class="pnsep">|</span><span class="narration">&#20195;&#22666;&#22580;&#22320;&#38957;&#26399;&#27454;</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">30.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Venue.html" class="account">Expenses:Venue</a></span></td>
                    <td class="position num">40000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">40000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-40015.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-40015.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:93">
            <td class="datecell"><span class="removed-link">2019-10-16</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">&#35920;&#23798;&#22283;&#38555;&#26377;&#38480;&#20844;&#21496;</span><span class="pnsep">|</span><span class="narration">&#30717;&#33184;&#25163;&#29872;&#23614;&#27454;</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">45.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Supplies.html" class="account">Expenses:Supplies</a></span></td>
                    <td class="position num">3801.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">3801.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-3816.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-3816.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:149">
            <td class="datecell"><span class="removed-link">2019-10-23</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">&#26143;&#34893;&#25976;&#20301;&#21360;&#21047;&#26377;&#38480;&#20844;&#21496;</span><span class="pnsep">|</span><span class="narration">&#21360;&#21047;&#36664;&#20986;</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">60.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Supplies.html" class="account">Expenses:Supplies</a></span></td>
                    <td class="position num">8620.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">8620.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-8635.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-8635.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:154">
            <td class="datecell"><span class="removed-link">2019-10-23</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">&#21487;&#31435;&#21487;&#32929;&#20221;&#26377;&#38480;&#20844;&#21496;</span><span class="pnsep">|</span><span class="narration">Wifi</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">75.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Wifi.html" class="account">Expenses:Wifi</a></span></td>
                    <td class="position num">30000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">30000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-30015.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-30015.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:159">
            <td class="datecell"><span class="removed-link">2019-10-23</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#27963;&#21205;&#37636;&#24433;&#32000;&#37636;</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">90.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Recording.html" class="account">Expenses:Recording</a></span></td>
                    <td class="position num">24000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">24000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-24015.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-24015.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:164">
            <td class="datecell"><span class="removed-link">2019-10-25</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">&#31532;&#19968;&#29986;&#29289;&#20445;&#38570;&#32929;&#20221;&#26377;&#38480;&#20844;&#21496;</span><span class="pnsep">|</span><span class="narration">&#27963;&#21205;&#20445;&#38570;</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">105.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Insurance.html" class="account">Expenses:Insurance</a></span></td>
                    <td class="position num">2480.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">2480.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-2495.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-2495.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:169">
            <td class="datecell"><span class="removed-link">2019-10-26</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#20027;&#25345;&#20154;&#36027;&#29992;</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">120.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:HostFee.html" class="account">Expenses:HostFee</a></span></td>
                    <td class="position num">5000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">5000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-5015.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-5015.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:174">
            <td class="datecell"><span class="removed-link">2019-10-26</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#24179;&#38754;&#25885;&#24433;&#36027;&#29992;</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">135.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Photography.html" class="account">Expenses:Photography</a></span></td>
                    <td class="position num">10000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">10000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-10015.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-10015.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:207">
            <td class="datecell"><span class="removed-link">2019-10-29</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">&#26085;&#35264;&#23526;&#26989;</span><span class="pnsep">|</span><span class="narration">&#21443;&#21152;&#32773;&#20415;&#30070;&#12289;&#26371;&#35696;&#40670;&#24515;</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">150.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Food.html" class="account">Expenses:Food</a></span></td>
                    <td class="position num">79240.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">79240.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-79255.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-79255.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:216">
            <td class="datecell"><span class="removed-link">2019-11-13</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">&#20849;&#35672;&#31185;&#25216;</span><span class="pnsep">|</span><span class="narration">&#20195;&#38283;&#30332;&#31080;&#26381;&#21209;&#36027;</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">165.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:InvoiceServiceFee.html" class="account">Expenses:InvoiceServiceFee</a></span></td>
                    <td class="position num">11061.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">11061.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-11076.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-11076.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:227">
            <td class="datecell"><span class="removed-link">2019-11-13</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#32102;&#35373;&#35336;&#24107;&#30340;&#34915;&#26381;&#33287;&#36939;&#36027;</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">180.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Supplies.html" class="account">Expenses:Supplies</a></span></td>
                    <td class="position num">1845.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">1845.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-1860.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-1860.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:232">
            <td class="datecell"><span class="removed-link">2019-11-13</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#26371;&#22580;&#27833;&#28422;&#25481;&#33853;&#30340;&#35036;&#27833;&#28422;&#36027;&#29992;</span></td>
            <td class="change num">15.0 TWD</td>
            <td class="balance num">195.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Supplies.html" class="account">Expenses:Supplies</a></span></td>
                    <td class="position num">1750.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">1750.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:Bank:TransactionFee.html" class="account">Expenses:Bank:TransactionFee</a></span></td>
                    <td class="position num">15.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">15.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-1765.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-1765.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                
</table>

    </div>

  </body>
</html>