<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">

    <link href="../../../resources/web.css" rel="stylesheet" type="text/css">
    <title>Beancount: Income:Sponsor</title>

    <!-- begin scripts -->
    
    <!-- end scripts -->
  </head>

  <body>

    <!-- The title of the input file, from the 'title' option. -->
    <div id="title">Beancount - All Transactions</div>

    
      <div class="navigation" id="nav-right">
        <ul>
          
        </ul>
      </div>

    <div class="navigation">
      
<ul id="nav-main">
  <li><a href="../../../index.html">Table of Contents</a></li>
  <li><span class="ledger-name">All Transactions:</span></li>
  <li><a href="../balsheet.html">Balance Sheet</a></li>
  <li><a href="../income.html">Income Statement</a></li>
  <li><a href="../equity/holdings.html">Equity/Holdings</a></li>
  <li><a href="../trial.html">Trial Balance</a></li>
  <li><a href="all.html">General Journal</a></li>
  <li><a href="../index.html">Index</a></li>
</ul>

    </div>

    <!-- The title of this page, what information we're displaying. -->
    <h1 id="pagetitle">Income:Sponsor</h1>

    <!-- The contents of this page. -->
    <div id="contents">
      
      <table class="entry-table">
      <thead>
        <tr>
         <th class="datecell">Date</th>
         <th class="flag">F</th>
         <th class="description">Narration/Payee</th>
         <th class="position">Position</th>
         <th class="price">Price</th>
         <th class="cost">Cost</th>
         <th class="change">Change</th>
         <th class="balance">Balance</th>
        </tr>
      </thead>
    

          <tr class="Open " title="/home/travis/build/EtherTW/accounting/main.bean:15">
            <td class="datecell"><span class="removed-link">2019-08-30</span></td>
            <td class="flag"></td>
            <td class="description" colspan="4">Open <span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
            <td class="change num"></td>
            <td class="balance num"></td>
          </tr>
        

          <tr class="Open " title="/home/travis/build/EtherTW/accounting/main.bean:16">
            <td class="datecell"><span class="removed-link">2019-08-30</span></td>
            <td class="flag"></td>
            <td class="description" colspan="4">Open <span><a href="Income:Sponsor:TWD.html" class="account">Income:Sponsor:TWD</a></span></td>
            <td class="change num"></td>
            <td class="balance num"></td>
          </tr>
        

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:28">
            <td class="datecell"><span class="removed-link">2019-09-02</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">GPUMINE &amp; Block2</span><span class="pnsep">|</span><span class="narration">&#36106;&#21161;&#37329;</span></td>
            <td class="change num">-26914.5 TWD</td>
            <td class="balance num">-26914.5 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">5.0 ETH {5382.9 TWD, 2019-09-02}</td>
                    <td class="price num"></td>
                    <td class="cost num">26914.50 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
                    <td class="position num">-26914.50 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-26914.50 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:33">
            <td class="datecell"><span class="removed-link">2019-09-19</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">imToken</span><span class="pnsep">|</span><span class="narration">&#36106;&#21161;&#37329;</span></td>
            <td class="change num">-50376.2 TWD</td>
            <td class="balance num">-77290.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">7.796 ETH {6461.8 TWD, 2019-09-19}</td>
                    <td class="price num"></td>
                    <td class="cost num">50376.1928 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
                    <td class="position num">-50376.1928 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-50376.1928 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:38">
            <td class="datecell"><span class="removed-link">2019-09-24</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">Aragon</span><span class="pnsep">|</span><span class="narration">&#36106;&#21161;&#37329;</span></td>
            <td class="change num">-47031.0 TWD</td>
            <td class="balance num">-124321.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">7.71 ETH {6100.0 TWD, 2019-09-24}</td>
                    <td class="price num"></td>
                    <td class="cost num">47031.000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
                    <td class="position num">-47031.000 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-47031.000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/travis/build/EtherTW/accounting/main.bean:43">
            <td class="datecell"><span class="removed-link">2019-09-27</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">Ehtereum Foundation</span><span class="pnsep">|</span><span class="narration">&#36106;&#21161;&#37329;</span></td>
            <td class="change num">-124752.6 TWD</td>
            <td class="balance num">-249074.3 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">23.9908834643 ETH {5200.0 TWD, 2019-09-27}</td>
                    <td class="price num"></td>
                    <td class="cost num">124752.59401436000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
                    <td class="position num">-124752.59401436000 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-124752.59401436000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                
</table>

    </div>

  </body>
</html>