<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">

    <link href="../../../resources/web.css" rel="stylesheet" type="text/css">
    <title>Beancount: Income</title>

    <!-- begin scripts -->
    
    <!-- end scripts -->
  </head>

  <body>

    <!-- The title of the input file, from the 'title' option. -->
    <div id="title">Beancount - All Transactions</div>

    
      <div class="navigation" id="nav-right">
        <ul>
          
        </ul>
      </div>

    <div class="navigation">
      
<ul id="nav-main">
  <li><a href="../../../index.html">Table of Contents</a></li>
  <li><span class="ledger-name">All Transactions:</span></li>
  <li><a href="../balsheet.html">Balance Sheet</a></li>
  <li><a href="../income.html">Income Statement</a></li>
  <li><a href="../equity/holdings.html">Equity/Holdings</a></li>
  <li><a href="../trial.html">Trial Balance</a></li>
  <li><a href="all.html">General Journal</a></li>
  <li><a href="../index.html">Index</a></li>
</ul>

    </div>

    <!-- The title of this page, what information we're displaying. -->
    <h1 id="pagetitle">Income</h1>

    <!-- The contents of this page. -->
    <div id="contents">
      
      <table class="entry-table">
      <thead>
        <tr>
         <th class="datecell">Date</th>
         <th class="flag">F</th>
         <th class="description">Narration/Payee</th>
         <th class="position">Position</th>
         <th class="price">Price</th>
         <th class="cost">Cost</th>
         <th class="change">Change</th>
         <th class="balance">Balance</th>
        </tr>
      </thead>
    

          <tr class="Open " title="/home/runner/work/accounting/accounting/main.bean:25">
            <td class="datecell"><span class="removed-link">2019-08-30</span></td>
            <td class="flag"></td>
            <td class="description" colspan="4">Open <span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
            <td class="change num"></td>
            <td class="balance num"></td>
          </tr>
        

          <tr class="Open " title="/home/runner/work/accounting/accounting/main.bean:26">
            <td class="datecell"><span class="removed-link">2019-08-30</span></td>
            <td class="flag"></td>
            <td class="description" colspan="4">Open <span><a href="Income:Sponsor:TWD.html" class="account">Income:Sponsor:TWD</a></span></td>
            <td class="change num"></td>
            <td class="balance num"></td>
          </tr>
        

          <tr class="Open " title="/home/runner/work/accounting/accounting/main.bean:27">
            <td class="datecell"><span class="removed-link">2019-08-30</span></td>
            <td class="flag"></td>
            <td class="description" colspan="4">Open <span><a href="Income:RegisteryFee.html" class="account">Income:RegisteryFee</a></span></td>
            <td class="change num"></td>
            <td class="balance num"></td>
          </tr>
        

          <tr class="Open " title="/home/runner/work/accounting/accounting/main.bean:28">
            <td class="datecell"><span class="removed-link">2019-08-30</span></td>
            <td class="flag"></td>
            <td class="description" colspan="4">Open <span><a href="Income:PreviousEventRevenue.html" class="account">Income:PreviousEventRevenue</a></span></td>
            <td class="change num"></td>
            <td class="balance num"></td>
          </tr>
        

          <tr class="Open " title="/home/runner/work/accounting/accounting/main.bean:29">
            <td class="datecell"><span class="removed-link">2019-08-30</span></td>
            <td class="flag"></td>
            <td class="description" colspan="4">Open <span><a href="Income:Donation.html" class="account">Income:Donation</a></span></td>
            <td class="change num"></td>
            <td class="balance num"></td>
          </tr>
        

          <tr class="Open " title="/home/runner/work/accounting/accounting/main.bean:31">
            <td class="datecell"><span class="removed-link">2019-08-30</span></td>
            <td class="flag"></td>
            <td class="description" colspan="4">Open <span><a href="Income:Trade:PnL.html" class="account">Income:Trade:PnL</a></span></td>
            <td class="change num"></td>
            <td class="balance num"></td>
          </tr>
        

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:60">
            <td class="datecell"><span class="removed-link">2019-09-02</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">GPUMINE &amp; Block2</span><span class="pnsep">|</span><span class="narration">&#36106;&#21161;&#37329;</span></td>
            <td class="change num">-26914.5 TWD</td>
            <td class="balance num">-26914.5 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">5.0 ETH {5382.9 TWD, 2019-09-02}</td>
                    <td class="price num"></td>
                    <td class="cost num">26914.50 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
                    <td class="position num">-26914.50 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-26914.50 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:65">
            <td class="datecell"><span class="removed-link">2019-09-17</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">&#33521;&#23660;&#32173;&#20140;&#32676;&#23798;&#21830;&#24163;&#35351;&#31185;&#25216;&#26377;&#38480;&#20844;&#21496;</span><span class="pnsep">|</span><span class="narration">&#36106;&#21161;&#37329;</span></td>
            <td class="change num">-50000.0 TWD</td>
            <td class="balance num">-76914.5 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">50000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">50000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:TWD.html" class="account">Income:Sponsor:TWD</a></span></td>
                    <td class="position num">-50000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-50000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:70">
            <td class="datecell"><span class="removed-link">2019-09-19</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">imToken</span><span class="pnsep">|</span><span class="narration">&#36106;&#21161;&#37329;</span></td>
            <td class="change num">-50376.2 TWD</td>
            <td class="balance num">-127290.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">7.796 ETH {6461.8 TWD, 2019-09-19}</td>
                    <td class="price num"></td>
                    <td class="cost num">50376.1928 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
                    <td class="position num">-50376.1928 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-50376.1928 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:75">
            <td class="datecell"><span class="removed-link">2019-09-24</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">Aragon</span><span class="pnsep">|</span><span class="narration">&#36106;&#21161;&#37329;</span></td>
            <td class="change num">-47031.0 TWD</td>
            <td class="balance num">-174321.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">7.71 ETH {6100.0 TWD, 2019-09-24}</td>
                    <td class="price num"></td>
                    <td class="cost num">47031.000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
                    <td class="position num">-47031.000 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-47031.000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:80">
            <td class="datecell"><span class="removed-link">2019-09-27</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">Ehtereum Foundation</span><span class="pnsep">|</span><span class="narration">&#36106;&#21161;&#37329;</span></td>
            <td class="change num">-124752.6 TWD</td>
            <td class="balance num">-299074.3 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">23.9908834643 ETH {5200.0 TWD, 2019-09-27}</td>
                    <td class="price num"></td>
                    <td class="cost num">124752.59401436000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
                    <td class="position num">-124752.59401436000 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-124752.59401436000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:85">
            <td class="datecell"><span class="removed-link">2019-10-01</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">&#29694;&#20195;&#36001;&#23500;&#31185;&#25216;&#26377;&#38480;&#20844;&#21496;</span><span class="pnsep">|</span><span class="narration">&#36106;&#21161;&#37329;</span></td>
            <td class="change num">-50000.0 TWD</td>
            <td class="balance num">-349074.3 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">50000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">50000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:TWD.html" class="account">Income:Sponsor:TWD</a></span></td>
                    <td class="position num">-50000.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-50000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:109">
            <td class="datecell"><span class="removed-link">2019-10-15</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">Monolith</span><span class="pnsep">|</span><span class="narration">&#36106;&#21161;&#37329;</span></td>
            <td class="change num">-49355.2 TWD</td>
            <td class="balance num">-398429.5 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">8.72 ETH {5660.0 TWD, 2019-10-15}</td>
                    <td class="price num"></td>
                    <td class="cost num">49355.200 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Sponsor:ETH.html" class="account">Income:Sponsor:ETH</a></span></td>
                    <td class="position num">-49355.200 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-49355.200 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:114">
            <td class="datecell"><span class="removed-link">2019-10-16</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#36681;&#25563;&#25104; DAI &#36991;&#38570;</span></td>
            <td class="change num">10078.8 TWD</td>
            <td class="balance num">-388350.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:DAI.html" class="account">Assets:Ethereum:GnosisWallet:DAI</a></span></td>
                    <td class="position num">4841.125498343072985426 DAI {30.6081846 TWD, 2019-10-16}</td>
                    <td class="price num"></td>
                    <td class="cost num">148178.0629250517720691921176 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">-0.866521001981 ETH {5392.0 TWD, 2019-08-30}</td>
                    <td class="price num"></td>
                    <td class="cost num">-4672.2812426815520 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">-5.0 ETH {5382.9 TWD, 2019-09-02}</td>
                    <td class="price num"></td>
                    <td class="cost num">-26914.50 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">-7.796 ETH {6461.8 TWD, 2019-09-19}</td>
                    <td class="price num"></td>
                    <td class="cost num">-50376.1928 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">-7.71 ETH {6100.0 TWD, 2019-09-24}</td>
                    <td class="price num"></td>
                    <td class="cost num">-47031.000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">-5.627478998019 ETH {5200.0 TWD, 2019-09-27}</td>
                    <td class="price num"></td>
                    <td class="cost num">-29262.8907896988000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Trade:PnL.html" class="account">Income:Trade:PnL</a></span></td>
                    <td class="position num">10078.8019073285799308078824 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">10078.8019073285799308078824 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:119">
            <td class="datecell"><span class="removed-link">2019-10-17</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#25226; DAI &#25563;&#25104;&#21488;&#24163;</span></td>
            <td class="change num">2205.9 TWD</td>
            <td class="balance num">-386144.8 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">145972.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">145972.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:DAI.html" class="account">Assets:Ethereum:GnosisWallet:DAI</a></span></td>
                    <td class="position num">-4841.12 DAI {30.6081846 TWD, 2019-10-16}</td>
                    <td class="price num"></td>
                    <td class="cost num">-148177.894630752 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Trade:PnL.html" class="account">Income:Trade:PnL</a></span></td>
                    <td class="position num">2205.9 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">2205.9 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:128">
            <td class="datecell"><span class="removed-link">2019-10-19</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#29694;&#22580;&#22577;&#21517;</span></td>
            <td class="change num">-2400.0 TWD</td>
            <td class="balance num">-388544.8 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Cash:TWD.html" class="account">Assets:Cash:TWD</a></span></td>
                    <td class="position num">2400.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">2400.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:RegisteryFee.html" class="account">Income:RegisteryFee</a></span></td>
                    <td class="position num">-2400.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-2400.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:156">
            <td class="datecell"><span class="removed-link">2019-10-21</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#20043;&#21069;&#27963;&#21205;&#30408;&#39192;&#27454;&#38917;</span></td>
            <td class="change num">-22303.0 TWD</td>
            <td class="balance num">-410847.8 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">22303.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">22303.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:PreviousEventRevenue.html" class="account">Income:PreviousEventRevenue</a></span></td>
                    <td class="position num">-22303.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-22303.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:190">
            <td class="datecell"><span class="removed-link">2019-10-26</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">ETH &#25563; DAI</span></td>
            <td class="change num">-389.6 TWD</td>
            <td class="balance num">-411237.4 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:DAI.html" class="account">Assets:Ethereum:GnosisWallet:DAI</a></span></td>
                    <td class="position num">267.826116509551362445 DAI {30.5782344 TWD, 2019-10-26}</td>
                    <td class="price num"></td>
                    <td class="cost num">8189.649769070771399682567108 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">-1.5 ETH {5200.0 TWD, 2019-09-27}</td>
                    <td class="price num"></td>
                    <td class="cost num">-7800.00 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Trade:PnL.html" class="account">Income:Trade:PnL</a></span></td>
                    <td class="position num">-389.649769070771399682567108 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-389.649769070771399682567108 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:195">
            <td class="datecell"><span class="removed-link">2019-10-26</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">ETH &#27231;&#31080;&#35036;&#21161;&#20849;&#22235;&#20301;</span></td>
            <td class="change num">-2380.0 TWD</td>
            <td class="balance num">-413617.4 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:FlightTicketAllowance.html" class="account">Expenses:FlightTicketAllowance</a></span></td>
                    <td class="position num">1.149969403 ETH {5493.6 TWD, 2019-10-26}</td>
                    <td class="price num"></td>
                    <td class="cost num">6317.4719123208 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:FlightTicketAllowance.html" class="account">Expenses:FlightTicketAllowance</a></span></td>
                    <td class="position num">1.904703614 ETH {5493.6 TWD, 2019-10-26}</td>
                    <td class="price num"></td>
                    <td class="cost num">10463.6797738704 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:FlightTicketAllowance.html" class="account">Expenses:FlightTicketAllowance</a></span></td>
                    <td class="position num">2.40721926 ETH {5493.6 TWD, 2019-10-26}</td>
                    <td class="price num"></td>
                    <td class="cost num">13224.299726736 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:FlightTicketAllowance.html" class="account">Expenses:FlightTicketAllowance</a></span></td>
                    <td class="position num">2.644336712 ETH {5493.6 TWD, 2019-10-26}</td>
                    <td class="price num"></td>
                    <td class="cost num">14526.9281610432 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">-8.106228989 ETH {5200.0 TWD, 2019-09-27}</td>
                    <td class="price num"></td>
                    <td class="cost num">-42152.3907428000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Trade:PnL.html" class="account">Income:Trade:PnL</a></span></td>
                    <td class="position num">-2379.9888311704 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-2379.9888311704 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:203">
            <td class="datecell"><span class="removed-link">2019-10-26</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">DAI &#27231;&#31080;&#35036;&#21161;&#20849;&#19968;&#20301;</span></td>
            <td class="change num">0.0 TWD</td>
            <td class="balance num">-413617.4 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:FlightTicketAllowance.html" class="account">Expenses:FlightTicketAllowance</a></span></td>
                    <td class="position num">250.3216 DAI {30.5782344 TWD, 2019-10-26}</td>
                    <td class="price num"></td>
                    <td class="cost num">7654.39256018304 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:DAI.html" class="account">Assets:Ethereum:GnosisWallet:DAI</a></span></td>
                    <td class="position num">-0.005498343072985426 DAI {30.6081846 TWD, 2019-10-16}</td>
                    <td class="price num"></td>
                    <td class="cost num">-0.1682942997720691921176396 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:DAI.html" class="account">Assets:Ethereum:GnosisWallet:DAI</a></span></td>
                    <td class="position num">-250.316101656927014574 DAI {30.5782344 TWD, 2019-10-26}</td>
                    <td class="price num"></td>
                    <td class="cost num">-7654.224430559742635335988146 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Trade:PnL.html" class="account">Income:Trade:PnL</a></span></td>
                    <td class="position num">0.000164676474704528105786 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">0.000164676474704528105786 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:208">
            <td class="datecell"><span class="removed-link">2019-10-27</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">ETH &#25563; DAI</span></td>
            <td class="change num">-326.4 TWD</td>
            <td class="balance num">-413943.8 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:DAI.html" class="account">Assets:Ethereum:GnosisWallet:DAI</a></span></td>
                    <td class="position num">218.140783827457422974 DAI {30.5782344 TWD, 2019-10-27}</td>
                    <td class="price num"></td>
                    <td class="cost num">6670.360020075722235718917106 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">-1.22 ETH {5200.0 TWD, 2019-09-27}</td>
                    <td class="price num"></td>
                    <td class="cost num">-6344.000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Trade:PnL.html" class="account">Income:Trade:PnL</a></span></td>
                    <td class="position num">-326.360020075722235718917106 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-326.360020075722235718917106 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:223">
            <td class="datecell"><span class="removed-link">2019-11-11</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="payee">Accupass</span><span class="pnsep">|</span><span class="narration">&#38272;&#31080;&#25910;&#20837;</span></td>
            <td class="change num">-156538.0 TWD</td>
            <td class="balance num">-570481.8 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">156538.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">156538.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:RegisteryFee.html" class="account">Income:RegisteryFee</a></span></td>
                    <td class="position num">-156538.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-156538.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:248">
            <td class="datecell"><span class="removed-link">2019-11-20</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">&#25226;&#21488;&#24163;&#20840;&#37096;&#25563;&#25104; DAI 2.0</span></td>
            <td class="change num">1645.8 TWD</td>
            <td class="balance num">-568836.0 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Bank:Cathy:TWD.html" class="account">Assets:Bank:Cathy:TWD</a></span></td>
                    <td class="position num">-116419.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-116419.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Cash:TWD.html" class="account">Assets:Cash:TWD</a></span></td>
                    <td class="position num">-21849.0 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-21849.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:DAI.html" class="account">Assets:Ethereum:GnosisWallet:DAI</a></span></td>
                    <td class="position num">4486.771749455375278881 DAI {30.450 TWD, 2019-11-20}</td>
                    <td class="price num"></td>
                    <td class="cost num">136622.199770916177241926450 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Trade:PnL.html" class="account">Income:Trade:PnL</a></span></td>
                    <td class="position num">1645.8 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">1645.8 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:254">
            <td class="datecell"><span class="removed-link">2019-11-30</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">ethtaipei.eth &#36027;&#29992;</span></td>
            <td class="change num">17.1 TWD</td>
            <td class="balance num">-568818.9 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:EthereumNameService.html" class="account">Expenses:EthereumNameService</a></span></td>
                    <td class="position num">0.032826965310591524 ETH {4682 TWD, 2019-11-30}</td>
                    <td class="price num"></td>
                    <td class="cost num">153.695851584189515368 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Expenses:EthereumTransactionFee.html" class="account">Expenses:EthereumTransactionFee</a></span></td>
                    <td class="position num">0.000231000000020000 ETH {4682 TWD, 2019-11-30}</td>
                    <td class="price num"></td>
                    <td class="cost num">1.081542000093640000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisWallet:ETH.html" class="account">Assets:Ethereum:GnosisWallet:ETH</a></span></td>
                    <td class="position num">-0.033057965310611524 ETH {5200.0 TWD, 2019-09-27}</td>
                    <td class="price num"></td>
                    <td class="cost num">-171.9014196151799248000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Trade:PnL.html" class="account">Income:Trade:PnL</a></span></td>
                    <td class="position num">17.1240260308967694320 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">17.1240260308967694320 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:283">
            <td class="datecell"><span class="removed-link">2023-01-20</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">5 ETH &#36681;&#25104; DAI &#28310;&#20633;&#20184;&#27454;&#32102; Bing</span></td>
            <td class="change num">-209783.6 TWD</td>
            <td class="balance num">-778602.5 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisSafe.html" class="account">Assets:Ethereum:GnosisSafe</a></span></td>
                    <td class="position num">-5 ETH {5200.0 TWD, 2019-09-27}</td>
                    <td class="price num"></td>
                    <td class="cost num">-26000.0 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisSafe.html" class="account">Assets:Ethereum:GnosisSafe</a></span></td>
                    <td class="position num">7748.392827068036191747 DAI {30.43 TWD, 2023-01-20}</td>
                    <td class="price num"></td>
                    <td class="cost num">235783.59372768034131486121 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Trade:PnL.html" class="account">Income:Trade:PnL</a></span></td>
                    <td class="position num">-209783.59372768034131486121 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-209783.59372768034131486121 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:295">
            <td class="datecell"><span class="removed-link">2023-07-30</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Nic &#25424;&#36104;&#23529;&#31295;&#32147;&#36027;</span></td>
            <td class="change num">-626.8 TWD</td>
            <td class="balance num">-779229.3 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisSafe.html" class="account">Assets:Ethereum:GnosisSafe</a></span></td>
                    <td class="position num">20.0 DAI {31.34 TWD, 2023-07-30}</td>
                    <td class="price num"></td>
                    <td class="cost num">626.800 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Donation.html" class="account">Income:Donation</a></span></td>
                    <td class="position num">-626.800 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-626.800 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:300">
            <td class="datecell"><span class="removed-link">2023-09-14</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Nic &#25424;&#36104;&#23529;&#31295;&#32147;&#36027;</span></td>
            <td class="change num">-1909.8 TWD</td>
            <td class="balance num">-781139.1 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisSafe.html" class="account">Assets:Ethereum:GnosisSafe</a></span></td>
                    <td class="position num">60.0 DAI {31.83 TWD, 2023-09-14}</td>
                    <td class="price num"></td>
                    <td class="cost num">1909.800 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Donation.html" class="account">Income:Donation</a></span></td>
                    <td class="position num">-1909.800 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-1909.800 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:305">
            <td class="datecell"><span class="removed-link">2023-09-14</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Nic &#25424;&#36104;&#23529;&#31295;&#32147;&#36027; - 2 (&#21516;&#19968;&#22825;)</span></td>
            <td class="change num">-1909.8 TWD</td>
            <td class="balance num">-783048.9 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisSafe.html" class="account">Assets:Ethereum:GnosisSafe</a></span></td>
                    <td class="position num">60.0 DAI {31.83 TWD, 2023-09-14}</td>
                    <td class="price num"></td>
                    <td class="cost num">1909.800 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Donation.html" class="account">Income:Donation</a></span></td>
                    <td class="position num">-1909.800 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-1909.800 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:310">
            <td class="datecell"><span class="removed-link">2023-10-05</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Nic &#25424;&#36104;&#23529;&#31295;&#32147;&#36027;</span></td>
            <td class="change num">-1290.8 TWD</td>
            <td class="balance num">-784339.7 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisSafe.html" class="account">Assets:Ethereum:GnosisSafe</a></span></td>
                    <td class="position num">40.0 DAI {32.27 TWD, 2023-10-05}</td>
                    <td class="price num"></td>
                    <td class="cost num">1290.800 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Donation.html" class="account">Income:Donation</a></span></td>
                    <td class="position num">-1290.800 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-1290.800 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:316">
            <td class="datecell"><span class="removed-link">2024-01-15</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">Nic &#25424;&#36104;&#23529;&#31295;&#32147;&#36027;</span></td>
            <td class="change num">-1237.6 TWD</td>
            <td class="balance num">-785577.3 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisSafe.html" class="account">Assets:Ethereum:GnosisSafe</a></span></td>
                    <td class="position num">40.0 DAI {30.94 TWD, 2024-01-15}</td>
                    <td class="price num"></td>
                    <td class="cost num">1237.600 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Donation.html" class="account">Income:Donation</a></span></td>
                    <td class="position num">-1237.600 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-1237.600 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

          <tr class="Transaction " title="/home/runner/work/accounting/accounting/main.bean:321">
            <td class="datecell"><span class="removed-link">2024-01-30</span></td>
            <td class="flag">*</td>
            <td class="description" colspan="4"><span class="narration">LunDAO &#25424;&#27454; 5 ETH</span></td>
            <td class="change num">-361076.8 TWD</td>
            <td class="balance num">-1146654.1 TWD</td>
          </tr>
        

                  <tr class="Posting">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Assets:Ethereum:GnosisSafe.html" class="account">Assets:Ethereum:GnosisSafe</a></span></td>
                    <td class="position num">5.00 ETH {72215.36 TWD, 2024-01-30}</td>
                    <td class="price num"></td>
                    <td class="cost num">361076.8000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                

                  <tr class="Posting leg">
                    <td class="datecell"></td>
                    <td class="flag"></td>
                    <td class="description"><span><a href="Income:Donation.html" class="account">Income:Donation</a></span></td>
                    <td class="position num">-361076.8000 TWD</td>
                    <td class="price num"></td>
                    <td class="cost num">-361076.8000 TWD</td>
                    <td class="change num"></td>
                    <td class="balance num"></td>
                  </tr>
                
</table>

    </div>

  </body>
</html>